---
import Footer from "../footer.astro"
//import '../../styles/Layout.css'
import '../../styles/global.css'

interface Props {
	title: string;
}

const {title}=Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
     <link rel="stylesheet" href="../../../public/styles/Layout.css">
    <title>Astro Landing - {title}</title>
</head>
<body>
    <main class="mx-auto container bg-amber-500 md:pt-10">
         <slot/>
         <Footer/>
    </main>
   
</body>
</html>